* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border-radius: 8px;
    background-color: blue;
    border: none;
    padding: 10px 20px 10px 20px;
    color: white;
    margin-top: 20px;
}
#show{
    margin-top: 200px;
    width: 100%;
    background-color: black;
    color: antiquewhite;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5%;
}